<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add Skill</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Color Name</label>
        <input class="form-control" th:field="${color.name}" />
        <span th:errors="${color.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Color </label>
        <input class="form-control" th:field="${color.description}" />
        <span th:errors="${color.description}" class="error"></span>
    </div>

    <input type="submit" value="Add Color" />
</form>

</body>
</html>