<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Month: ' + month.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="plant-listing">
    <p th:text="${'Name: ' + month.name}"></p>
    <p th:text="${'Location: ' + month.location}"></p>
</div>


</body>
</html>