<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Color: ' + color.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="plant-listing">
    <p th:text="${'Name: ' + color.name}"></p>
    <p th:text="${'Description: ' + color.description}"></p>
    <p> Plants:
        <ul>
            <li th:each="plant : ${color.plants}">
                <a th:href="@{'/view/' + ${plant.id}}" th:text="${plant.name}"></a>
            </li>
        </ul>
    </p>
</div>